body {
  font-family: 'Montserrat', sans-serif;
}

.search-toolbar {
  background-color: #4056b4;
  height: 15%;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-form-input {
  padding: 10px;
  font-size: 15px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  float: left;
  width: 300px;
  outline: none;
  background: #f1f1f1;
}

.search-form-button {
  float: left;
  width: 50px;
  padding: 10px;
  background: #c3c2c2;
  color: #000;
  font-size: 15px;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: none;
  cursor: pointer;
}

.search-form-button:hover {
  background: #c3c2c2ce;
}

.search-form::after {
  content: '';
  clear: both;
  display: table;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 25px;
}

.photo-card {
  flex-flow: column;
  flex-wrap: wrap;
  margin-right: 20px;
}

// .photo-card:not(:last-child) {
//   margin-right: 20px;
// }

.photo {
  display: block;
  width: 350px;
  height: 250px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 350px;
  font-size: 14px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c3c2c2;
  border-left: 1px solid #c3c2c2;
  border-right: 1px solid #c3c2c2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.info-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: center;
  padding: 0 12px;
}

.info-item-api {
  padding-top: 5px;
}

.load-more {
  display: flex;
  margin: 0px auto 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  // font-weight: bold;
  font-size: large;
  color: #fff;
  background-color: #4056b4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
